@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --offcanvas-width: 250px;
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro';

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25), 0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-body);
    line-height: 1.6;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    margin: 0;
}

strong {font-weight: var(--fw-bold)}

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
    margin-top: .5em;
    margin-right: .25em;
  }
  
  label::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: var(--clr-light);
    border-radius: 90px;
    transition: 0.3s;
  }

.menu-links {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

.btn-outline-dark {
    position: fixed;
    margin-top: 2em;
}

.offcanvas {
    background-color: var(--clr-accent);
}

.sidebar-nav {
    width: var(--offcanvas-width);
    background: var(--clr-dark);
    color: var(--clr-light);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.sidebar-nav li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
    
}

.sidebar-nav li:hover {
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1),
                opacity 250ms linear;
}

.fixed-top {
    margin-top: 5px;
}

.fa-user-circle {
    font-size: 25px;
}

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1);}
h2 { font-size: var(--fs-h2);}
h3 { font-size: var(--fs-h3);}

.section__title {
    margin-bottom: .25cm;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1em;
    color: #111;
}

.section__title--work {
    margin-bottom: .5em;
}

.section__subtitle--work {
    margin-bottom: 1em;
}

/* intro section */
.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
    width: 100%;
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
        "img title"
        "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

/* My Activity */
.my-activity {
    background-color: var(--clr-dark);
    background-size: cover;
    color: var(--clr-light);
    text-align: center;
}

.section__title--activity {
    color: var(--clr-accent);
    position: relative;
}

.section__title--activity::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.the-activity {
    margin-bottom: 4em;
}

.activity {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .activity {
        display: flex;
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;
    }

    .the-activity + .the-activity {
        margin-left: 2.5em;
    }
}

/* About Me */
.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about__me--img {
    box-shadow: var(--bs);
    width: 100%;
}


@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 1em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }

    .about__me--img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;

}

.portofolio {
    display: block;
    grid-template-columns: auto-fit minmax(300px 1fr);
}

.portofolio__item {
    background: var(--clr-accent);
    overflow: hidden;
}

.portofolio__img {
    width: 50%;
    margin: auto;
    box-shadow: var(--bs);
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1),
                opacity 250ms linear;
}

.portofolio__img:hover {
    transform: scale(1.1);
}

.card {
    transition: transform 500ms ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}

@media (max-width: 1300px) {
    .portofolio {
        display: flex;
        max-width: 1000px;
        margin-right: 4em;
        margin-left: auto;
        flex-wrap: wrap;
    }

    .card {
        width: 14rem;
        margin-bottom: 2em;
    }
}

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a { 
    color: inherit; 
}

.footer__link {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}

.wrapper{
    display: inline-flex;
  }
  .wrapper .icon{
    margin: 0 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon span{
    display: block;
    height: 60px;
    width: 60px;
    background: var(--clr-dark);
    border-radius: 50%;
    position: relative;
    z-index: 2;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon span i{
    line-height: 60px;
    font-size: 25px;
  }
  .wrapper .icon .tooltip{
    position: absolute;
    top: 0;
    z-index: 1;
    background: var(--clr-light);
    color: var(--clr-dark);
    padding: 10px 18px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .tooltip{
    top: -70px;
    opacity: 1;
    pointer-events: auto;
  }
  .icon .tooltip:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover span{
    color: #fff;
  }
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
  }
  .wrapper .facebook:hover span,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip:before{
    background: #3B5999;
  }
  .wrapper .twitter:hover span,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip:before{
    background: #46C1F6;
  }
  .wrapper .instagram:hover span,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip:before{
    background: #e1306c;
  }
  .wrapper .github:hover span,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip:before{
    background-color: rgb(110, 109, 116);
  }
  .wrapper .youtube:hover span,
  .wrapper .youtube:hover .tooltip,
  .wrapper .youtube:hover .tooltip:before{
    background: #333591;
  }

  @media (max-width: 400px) {
      .footer__link {
          font-size: 20px;
      }

      .wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1em;
        margin-left: 2em;
      }

      .wrapper .icon {
          margin-top: 1em;
      }
  }